html,
body {
  background-color: #24262B;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input{
  border: none;
}
span{
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  background: none;

}
.strangBox {
  box-sizing: border-box;
}
.fn20{
  font-size: 2.666667vw !important;
}
.fn22{
  font-size: 2.93vw !important;
}
.fn25 {
  font-size: 3.333vw !important;
}
.fn26 {
  font-size: 3.466667vw !important;
}

.fn35 {
  font-size: 4.666667vw !important;
}
.fn33 {
  font-size: 4.4vw  !important;
}
.fn34 {
  font-size: 4.533333vw  !important;
}

.fn40 {
  font-size: 5.333333vw  !important;
}
.fn50 {
  font-size: 6.666667vw !important;
}

.fn60 {
  font-size: 8vw !important;
}

.normalText {
  font-family: Myriad Pro !important;
  font-weight: bold !important;
}

.textF {
  font-family: Myriad Pro;
  font-weight: 400;
}
.c1 {
  color: #FFF !important;
}
.c2 {
  color: #808B9B !important;
}
.c3{
  color: #636C7A;
}
.c25 {
  color: #98A7B5 !important;
}

.c66 {
  color: #7F8B9B !important;
}
.c68 {
  color: #636B79 !important;
}

.bg67 {
  background: #171B1F !important;
}

.c21 {
  color: #3BC117 !important;
}
.c22 {
  color: #ED6300 !important;
}
.bg5 {
  background: #181B1F !important;
}
.bg6 {
  background: #1D1E22 !important;
}

/* .bg3 {
  background: #0F8DEC !important;
} */
.bg3 {
  background: #4B69E3 !important;
}

.pr47 {
  padding-right: 6.266667vw  !important;
}
.mt45 {
  margin-top: 6vw  !important;
}
.mt20 {
  margin-top: 2.666667vw !important;
}
.mt23 {
  margin-top: 3.066667vw;
}

.mt28 {
  margin-top: 3.733333vw;
}
.mt24 {
  margin-top: 3.2vw;
}
.mb40 {
  margin-bottom: 5.333333vw !important;
}
.mb63 {
  margin-bottom: 8.4vw !important;
}

.ml16 {
  margin-left: 2.133333vw;
}
.mr52 {
  margin-right: 6.933333vw;
}

.mr59 {
  margin-right: 7.866667vw;
}
.ml45 {
  margin-left: 6vw !important;
}

.mt35 {
  margin-top: 4.666667vw !important;
}
.mt58 {
  margin-top: 7.733333vw;
}
.mb30 {
  margin-bottom: 4vw !important;
}
.flex-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.self_center {
  align-self: center;
}
.flex-column {
  flex-direction: column;
}
.flex-start {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.flex {
  display: flex;
}
.flexEnd {
  display: flex;
  align-items:flex-end
}
.aic {
  display: flex;
  align-items: center;
}
.textCenter {
  text-align: center;
}
.nowrap {
  white-space: nowrap !important;
}

.ellipsisHidden {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
.flex-1 {
  flex: 1;
}
.br8 {
  border-radius: 1.066667vw;
}
.wrapPadding{
padding: 0;
}
 .verifyBtn{
  width: 16.666667vw;
  height: 9.2vw;
  border: 0px solid #000000;
  margin-top: 2.933333vw;
  line-height: 9.2vw;
  font-size: 3.466667vw ;
}

@media screen and (min-width: 750px) {
html,
body {
  background-color: #141619;
  font-size: 75px !important;
}
.wrapPadding{
padding: 74px 100px 0;
}
.verifyBtn{
  width: 2.6666666666666665rem;
  height: 0.5333333333333333rem;
  border: 0px solid #000000;
  margin-top: 0.32rem;
  line-height: 0.5333333333333333rem;
  font-size: 0.18666666666666668rem;
}

.fn20{
  /* 14px */
  font-size: 0.18666666666666668rem !important;
}
.fn22{
  /* 14px */
  font-size: 0.18666666666666668rem !important;
}
.fn25 {
  /* 14px */
  font-size: 0.18666666666666668rem !important;
}
.fn26 {
  /* 14px */
  font-size: 0.18666666666666668rem !important;
}

.fn35 {
  /* 14px */
  font-size:0.18666666666666668rem !important;
}
.fn33 {
  font-size: 0.44rem  !important;
}
.fn34 {
  /* 14px */
  font-size: 0.18666666666666668rem  !important;
}

.fn40 {
  font-size: 0.5333333333333333rem  !important;
}
.fn50 {
  font-size: 0.21333333333333335rem !important;
}

.fn60 {
  font-size: 0.8rem !important;
}
.pr47 {
  /* 0 */
  padding-right: 0 !important;
}
.mt45 {
  /* 10px */
  margin-top: 0.13333333333333333rem  !important;
}
.mt20 {
  margin-top: 0.26666666666666666rem !important;
}
.mt23 {
  margin-top: 0.30666666666666664rem;
}

.mt28 {
  margin-top: 0.37333333333333335rem;
}
.mt24 {
  margin-top: 0.32rem;
}
.mb40 {
  margin-bottom: 0.5333333333333333rem !important;
}
.mb63 {
  margin-bottom:0.22666666666666666rem !important;
}

.ml16 {
  margin-left: 0.21333333333333335rem;
}
.mr52 {
  margin-right:0.6933333333333334rem;
}

.mr59 {
  margin-right: 0.7866666666666666rem;
}
.ml45 {
  margin-left: 0.6rem !important;
}

.mt35 {
  /* 41px */
  margin-top: 0.5466666666666666rem !important;
}
.mt58 {
  /* 24px */
  margin-top: 0.32rem;
}
.mb30 {
  /* 10px */
  margin-bottom: 0.13333333333333333rem !important;
}
.br8 {
  border-radius: 0.10666666666666667rem;
}
}
@media screen and (min-width: 1000px) {
.wrapPadding{
padding: 74px 100px 0;
}
}
@media screen and (min-width: 1200px) {
.wrapPadding{
padding: 74px 170px 0;
}
}
@media screen and (min-width: 1500px) {
.wrapPadding{
padding: 74px 200px 0;
}
}
@media screen and (min-width: 1800px) {
.wrapPadding{
padding: 94px 285px 0;
}
}
